<!DOCTYPE html>
<html lang="en">

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Web Scraping- Mission to Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <!-- Header with primary button to refresh data -->
      <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1><b>Mission to Mars</b></h1>
          <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
        </div>
      </div>
    
    <!-- news section-->
    <div class="row">
        <div class="col-md-12">
          <div class="media">
            <h1 class="heading"><strong>Latest Mars News</strong>
                <h3 class="heading">{{ mars_info.news_title }}</h4>
                <p>{{ mars_info.news_p }}</p>
          </div>
        </div>
    </div>
    
    <!-- featured image -->
    <div class="row">  
      <div class="col-md-8">
        <h3><b>Featured Mars Image</b></h3>
        <img src="{{mars_info.featured_image_url}}"  class="img-responsive"
        alt="Mars Images">
        <br>   
      </div>
    </div>
    
        <!--  Mars Facts-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <h4><b>Mars Facts</b></h4>
                <p>{{mars_info.mars_facts | safe}}</p>
              </div>
            </div>
        </div>
    </div>       
     
    <!-- Hemisphere Images -->
    <div class="row" style="margin-top:80px;">
      <div class="page-header">
        <h2 class="text-center"><b>Mars Hemispheres</b></h2>
      </div>
      {% for hemisphere in mars_info.hemisphere_image_urls %}
        <div class="col-md-6">
          <div class="thumbnail">
            <img src="{{hemisphere.img_url}}">
          <div class="caption">
            <h3><b>{{hemisphere.title}}</b></h3>
          </div>
        </div>
      {% endfor %}
    </div>
    </body>
    </html>